@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
$main-height:calc(100vh - 80px);
$dark: #003153;
$primary: #305570;	
$secondary: #f5f5f5;
$success:green;
$warning: rgb(252, 252, 198);
$danger:rgb(243, 208, 204);

//#e8e6eb;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
main{
  background-color: #fff;
  background-image: url("../images/background.png");
 
}
.footer{
  background-color: $dark;
  color:#fff;
}
.logoimg{
  height: '100%';
}

.form {
    background-color:$secondary ;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: auto;
  }


  
  


  


    


pre {
    white-space: pre-wrap;
}

main{
    height: $main-height;
    overflow-y: auto;
    //background-image: url("../images/bg.jpg");

  }

  $theme-colors: (
      "dark":      $dark ,
      "primary": $primary,
      "secondary":$secondary,
      "success":$success,
      "danger":$danger,
      "warning":$warning
  ) ;
    

@import 'bootstrap/scss/bootstrap.scss'


